*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
    color:#333;
}

header{
    background:#333333;
    color:#fff;
    padding:20px;
    text-align:center;
}

nav{
    background:#444;
    padding:10px;
    text-align:center;
}

nav a{
    color:white;
    margin:0 15px;
    text-decoration:none;
    font-size:18px;
}

nav a:hover{
    color:#00eaff;
}

section{
    padding:30px;
}

.container{
    width:80%;
    margin:auto;
}

.card{
    background:white;
    padding:20px;
    margin:20px 0;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.1);
}

input, textarea{
    width:100%;
    padding:10px;
    margin:10px 0;
    border:1px solid #cccccc;
    border-radius:5px;
}

button{
    padding:10px 20px;
    background:#333;
    color:rgb(255, 255, 255);
    border:none;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background:#555555;
}

.login-box{
    width:350px;
    margin:auto;
    margin-top:50px;
    padding:20px;
    background:rgb(255, 255, 255);
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}
